/* De förvalda gemensamma nämnarna */
:root {
    --primary-bg:rgb(186, 40, 0); 
    --second--bg: Teal;
    --third-bg: rgba(255, 132, 98, 0.901);
    --font-color: DarkSlateGray;

    --primary-font: Georgia, serif;
}

body {
    font-family: var(--primary-font);
    color: var(--font-color);
    background-color: var(--second--bg);
}

/* Intro/översta med bild osv */
header{
    background-color: var(--primary-bg);
    padding-top: 50px;
    margin: 30px;

}
h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--font-color);
    font-size: 80px;

}

/* Rutorna */
h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.movieContainer {
    margin: 30px;
    display: flex;
    justify-content: space-between;

}

.topMovies {
    flex: 1;
    padding: 50px;
    padding-top: 2px;
    background-color: var(--third-bg);
    border: 2px solid rgb(186, 40, 0);
    border-radius: 5px;
}

.popMovies {
    flex: 1;
    padding: 50px;
    padding-top: 2px;
    background-color: var(--third-bg);
    border: 2px solid rgb(186, 40, 0);
    border-radius: 5px;
}

.searchMovies {
    flex: 1;
    margin: 30px;
    text-align: center;
    padding: 50px;
    padding-top: 2px;
    background-color: var(--third-bg);
    border: 2px solid rgb(186, 40, 0);
    border-radius: 5px;
}

.logo {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

#findMovie {
    width: 250px;
    height: 35px;
    border: 2px solid teal;
    border-radius: 5px;
    outline: none;
    font-family: var(--primary-font);
    font-size: 15px;
    color: var(--font-color);

}

#findMovie:focus {
    border-color: var(--primary-bg);
}

#result {
    margin: 10px;
}


button {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


    /*
        font-family: Trebuchet MS, sans-serif;

        font-family: Helvetica, sans-serif;

        font-family: 'Times New Roman', Times, serif;

    */



