
/* De förvalda gemensamma nämnarna */
:root {
    --primary-bg:teal; 
    --second--bg: rgb(10, 52, 74); 
    --third-bg: rgba(255, 249, 249, 0.852);
    --border-color: rgb(160, 35, 0);
    --font-color: DarkSlateGray;

    --primary-font: Georgia, serif;
}


/* Gemensamma */
body {
    font-family: var(--primary-font);
    color: var(--font-color);

    background-color: var(--second--bg);
}
a{
    font-family: var(--primary-font);
    color: var(--font-color);
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 900px;
    
}
button {
    background-color: var(--primary-bg);
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
h3{
    font-size: 30px;
}




/* Movie Night */
.intro {
    background-color: var(--primary-bg);
    padding-top: 60px;
    margin: 30px;
    border-radius: 10px;
}
h1 {
    margin-top: -45px;
    text-align: center;
    color: var(--border-color);
    font-size: 200%;
    text-shadow:
    -1px -1px 0 var(--second--bg),
    1px -1px 0 var(--second--bg),
    -1px  1px 0 var(--second--bg),
    1px  1px 0 var(--second--bg),
    0px  0px 3px var(--second--bg);

}
.introText{
    color: rgb(209, 108, 0);
    font-size: 500%;
    margin-top: -20px;
    text-align: center;
    text-shadow:
        -2px -2px 0 var(--second--bg),
        2px -2px 0 var(--second--bg),
        -2px  2px 0 var(--second--bg),
        2px  2px 0 var(--second--bg),
        0px  0px 3px var(--second--bg);
}
.searchText {
    font-size: 150%;
}
.searchingFor {
    flex: 1;
    margin: 30px;
    text-align: center;
    padding: 50px;
    padding-top: 2px;
    background-color: var(--third-bg);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}
#findAnswer {
    width: 250px;
    height: 35px;
    border: 2px solid var(--primary-bg);
    border-radius: 5px;
    outline: none;
    font-family: var(--primary-font);
    font-size: 15px;
    color: var(--font-color);

}
#findAnswer:focus {
    border-color: var(--border-color);
}
#sorting{
    background-color: var(--third-bg);
    color: var(--font-color);
    font-family: var(--primary-font);
    height: 40px;
    width: 150px;
    border: solid 2px var(--primary-bg);    
    border-radius: 8px;
}





/* Top 10 */
.topMovies {
    flex: 1;
    padding: 50px;
    padding-top: 2px;
    background-color: var(--third-bg);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}
.topHead {
    height: 80px;
    background-color: var(--primary-bg);
    padding-top: 60px;
    margin: 30px;
    border-radius: 10px;
}
.topBack {
    margin-top: 1000000px;

}


/* Populära */
.popMovies {
    flex: 1;
    padding: 50px;
    padding-top: 2px;
    background-color: var(--third-bg);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}
.popHead {
    height: 80px;
    background-color: var(--primary-bg);
    padding-top: 60px;
    margin: 30px;
    border-radius: 10px;
}




/* Hittar plats sen */

p {
    font-size: 20px;
}
.poster {
    width: 300px;
    border: 2px solid;
}
.navBtn {
    border: 2px solid var(--border-color);
}
.navHome{
    border: 2px solid var(--border-color);
    margin-bottom: 50px;

}
.posterSearch {
    width: 250px;
    border: 2px solid;
}



